<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href="/static/logoGB.svg" type="image/svg+xml" />
        <title>Demo app</title>
        <script src="/static/htmx.min.js"></script>
    </head>
    <body>
        <h3>Title</h3>
        <p>{{node.get("name")}}</p>
        <h3>Status</h3>
        <pre>{{node.get("status")}}</pre>
        <h3>Description</h3>
        <p>{{node.get("description") | safe}}</p>
        <h3>Successors</h3>
        <ul>
            {% for successor in successors %}
            <li>{{successor | safe}}</li>
            {% endfor %}
        </ul>
        <h3>Predecessors</h3>
        <ul>
            {% for predecessor in predecessors %}
            <li>{{predecessor | safe}}</li>
            {% endfor %}
        </ul>
        <button hx-get="/run?element={{node_id}}">Run operation</button>
    </body>
</html>
